.motorlist-container {
    margin: 18px 48px;
    .motorlist-add-btn {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
}

.price_row{
    font-weight: bold
}

.images {
    min-width: 30%;
    max-width: 50%;
}