.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 40%;
    max-width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: visible;
    z-index: 9999;
    .modal-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .btn-negotiation-status {
        flex-direction: row;
        align-content: flex-end;
        align-items: flex-end;
        display: flex;
        position: relative;
        left: 9rem;
    }
}

@media (max-width: 768px) {
    .modal-container {
        min-width: 60%;
        max-width: 80%;
    }
}
