.profile-container {
  flex-grow: 1;
  margin: 2rem 10rem 1rem 10rem;
  .profile-ava {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 1rem;
    gap: 10px;
    .edit-profile-name {
      font-size: 18px;
    }
    .edit-profile-btn {
      font-size: 14px;
      gap: 2px;
      color: #666363;
      :nth-child(1) {
        font-size: 16px;
      }
    }
  }

  .profile-input-container {
    background-color: #f7f6f6;
    border-radius: 5px;
    .profile-input-heading {
      font-size: 22px;
      padding-left: 1.4rem;
      padding-top: 1rem;
    }
    .profile-input-fields {
      padding: 1rem 4rem 2rem 4rem;
    }
  }
}

@media (max-width: 960px) {
  .profile-container {
    flex-grow: 1;
    margin: 0.5rem;
  }
}
