.store-detail-container {
    flex-grow: 1;
    margin-left: 88px;
    margin-right: 88px;
    .store-detail-header {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        background-color: #d8dde6;
        padding: 2rem 1.5rem;
        border-radius: 5px;
    }
    .store-info-header {
        display: flex;
        gap: 1rem;
        margin-left: 1rem;
        align-items: center;
    }
    .store-info {
        display: flex;
        margin-bottom: 10px;
        .store-info-txt {
            font-size: 18px;
        }
    }
    .btn-action-container {
        display: flex;
        flex-direction: row-reverse;
        :nth-child(1) {
            font-size: 35px;
        }
    }
}

@media (max-width: 960px) {
    .store-detail-container {
        margin: 12px;
    }
}

.comment-container-notFound {
    :nth-child(1) {
        align-items: center;
        text-align: center !important;
        margin-bottom: 12px;
    }
}

.form-cmt {
    display: flex;
    gap: 10px;
    align-items: center;
}
.cmt-box {
    width: 70%;
    .user-date {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        margin-bottom: 4px;
        .user-date-name {
            font-size: 20px;
            font-weight: 800;
        }
    }
    .info-cmt {
        .request-description {
            color: #524f44;
            font-weight: 700;
        }
    }
}
