$primary-border: #04618f;
$primary-favorite: #f76157;
.btn-delete {
    gap: 6px;
}

.wishlist-container-notFound {
    :nth-child(1) {
        align-items: center;
        text-align: center !important;
    }
}

.product-grid {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    .product-item {
        margin-bottom: 20px;
        border: 2px solid $primary-border;
        border-radius: 10%;
        flex-grow: 1;
        .product-image img {
            width: 100%;
            height: 200px;
            object-fit: contain;
            cursor: pointer;
        }
        .product-information {
            flex-grow: 2;
            .product-info-content {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                margin-left: 30%;
            }
        }
        .product-information h6 {
            margin: 6px;
            color: #333;
            font-weight: 700;
        }
        .btn-style {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            margin-left: 25%;
        }
        .btn-favorite {
            color: $primary-favorite;
            margin-left: 4px;
        }
    }
}

.tag-motor-box {
    position: relative;
    right: 12px;
    .tag-motor-status {
        max-width: 50%;
        font-weight: 700;
        text-shadow: 2px 2px 4px rgba(127, 243, 132, 0.89);
        color: #f09205;
        border: 2px solid #ffaa2b;
        border-radius: 10%;
        position: absolute;
        justify-content: flex-start;
        transform: translateX(0);
        background-color: rgba(250, 238, 97, 0.89);
    }
}

.tag-motor-status-hot {
    position: absolute;
    .hot-motor {
        width: 100%;
        position: relative;
        bottom: 50px !important;
        right: 30px !important;
    }
    .hot-motor img {
        width: 100%;
        height: 110px !important;
        cursor: pointer;
    }
}
.tag-motor-status-popular {
    position: absolute;
    .popular-motor {
        width: 100%;
        position: relative;
        bottom: 28px !important;
        right: 25px !important;
    }
    .popular-motor img {
        width: 100%;
        height: 70px;
        cursor: pointer;
    }
}

.tag-motor-status-trending {
    position: absolute;
    .trending-motor {
        width: 100% !important;
        position: relative;
        bottom: 25px !important;
        right: 25px !important;
    }
    .trending-motor img {
        width: 100%;
        height: 60px !important;
        cursor: pointer;
    }
}
