.cmt-paper {
    padding: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
    .request-title {
        margin-bottom: 12px;
        .request-title-text {
            font-weight: 800;
        }
    }
}
.comment-container-notFound {
    :nth-child(1) {
        align-items: center;
        text-align: center !important;
        margin-bottom: 12px;
    }
}

.form-cmt {
    display: flex;
    gap: 10px;
    align-items: center;
}
.cmt-box {
    width: 70%;
    .user-date {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        margin-bottom: 4px;
        .user-date-name {
            font-size: 20px;
            font-weight: 800;
        }
    }
    .info-cmt {
        .request-description {
            color: #524f44;
            font-weight: 700;
        }
    }
}
.reply-title {
    padding-top: 6px;
    padding-left: 6px;
    font-weight: 700 !important;
    color: rgb(32, 3, 3);
}

.comment-box-paper {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
