.store-detail-container {
    flex-grow: 1;
    margin-left: 88px;
    margin-right: 88px;
    .store-detail-header {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        background-color: #d8dde6;
        padding: 2rem 1.5rem;
        border-radius: 5px;
    }
    .store-info-header {
        display: flex;
        gap: 1rem;
        margin-left: 1rem;
        align-items: center;
    }
    .store-info {
        display: flex;
        margin-bottom: 10px;
        .store-info-txt {
            font-size: 18px;
        }
    }
    .btn-action-container {
        display: flex;
        flex-direction: row-reverse;
        :nth-child(1) {
            font-size: 35px;
        }
    }
}

.tag-motor-box {
    position: relative;
    right: 12px;
    .tag-motor-status {
        max-width: 50%;
        font-weight: 700;
        text-shadow: 2px 2px 4px rgba(127, 243, 132, 0.89);
        color: #f09205;
        border: 2px solid #ffaa2b;
        border-radius: 10%;
        position: absolute;
        justify-content: flex-start;
        transform: translateX(0);
        background-color: rgba(250, 238, 97, 0.89);
    }
}

.tag-motor-status-hot {
    position: absolute;
    .hot-motor {
        width: 100%;
        position: relative;
        bottom: 50px !important;
        right: 30px !important;
    }
    .hot-motor img {
        width: 100%;
        height: 110px !important;
        cursor: pointer;
    }
}
.tag-motor-status-popular {
    position: absolute;
    .popular-motor {
        width: 100%;
        position: relative;
        bottom: 28px !important;
        right: 25px !important;
    }
    .popular-motor img {
        width: 100%;
        height: 70px;
        cursor: pointer;
    }
}

.tag-motor-status-trending {
    position: absolute;
    .trending-motor {
        width: 100% !important;
        position: relative;
        bottom: 25px !important;
        right: 25px !important;
    }
    .trending-motor img {
        width: 100%;
        height: 60px !important;
        cursor: pointer;
    }
}


@media (max-width: 960px) {
    .store-detail-container {
        margin: 12px;
    }
}
